<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change user</title>
</head>

<body>

<br/>
<form th:method="POST" th:action="@{/update/{id}(id = ${user.getId()})}" th:object="${user}">

  <label for="name">User name</label>
  <input type="text" th:field="*{name}" id="name">
  <br/>
  <label for="lastname">User lastname</label>
  <input type="text" th:field="*{lastname}" id="lastname">
  <br/>
  <br/>
  <input type="submit" value="Save changes"/>
</form>

<br/>
<form th:method="GET" th:action="@{/delete/{id}(id = ${user.getId()})}" th:object="${user}">
  <input type="submit" value="Delete this user">
</form>

</body>

</html>